DATABASE_URL="postgresql://usuario:senha@ep-seu-projeto.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://usuario:senha@ep-seu-projeto.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
REDIS_URL="redis://localhost:6379"
PORT=3000
VITE_API_URL="http://localhost:3000"
